/* variabel-variabel css */
:root {
    /* warna primer */
    --color-primary: oklch(85% 0.138 181.071);
    --color-primary-hover: oklch(80% 0.138 181.071);
    --color-primary-text: oklch(43% 0.078 188.216);

    /* warna sekunder */
    --color-secondary: oklch(89% 0.061 343.231);
    --color-secondary-hover: oklch(84% 0.061 343.231);
    --color-secondary-text: oklch(45% 0.187 3.815);

    /* warna aksen */
    --color-accent: oklch(90% 0.076 70.697);
    --color-accent-hover: oklch(85% 0.076 70.697);
    --color-accent-text: oklch(47% 0.157 37.304);

    /* warna netral */
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-hover: oklch(22% 0.006 286.033);
    --color-neutral-text: oklch(92% 0.004 286.32);

    /* warna dasar */
    --color-base-100: oklch(97.788% 0.004 56.375);
    --color-base-200: oklch(93.982% 0.007 61.449);
    --color-base-300: oklch(91.586% 0.006 53.44);
    --color-base-text: oklch(23.574% 0.066 313.189);

    /* warna status info */
    --color-info: oklch(68% 0.169 237.323);
    --color-info-hover: oklch(63% 0.169 237.323);
    --color-info-text: oklch(29% 0.066 243.157);

    /* warna status sukses */
    --color-success: oklch(69% 0.17 162.48);
    --color-success-hover: oklch(64% 0.17 162.48);
    --color-success-text: oklch(26% 0.051 172.552);

    /* warna status peringatan */
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-hover: oklch(74% 0.184 86.047);
    --color-warning-text: oklch(28% 0.066 53.813);

    /* warna status error */
    --color-error: oklch(64% 0.246 16.439);
    --color-error-hover: oklch(59% 0.246 16.439);
    --color-error-text: oklch(27% 0.105 12.094);
}

/*  */

/* container admin universal */
.container {
    min-height: 80dvh;
}

.container .search-add {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

.container .filter {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.container .filter-section {
    display: flex;
    justify-content: space-between;
}

.container .filter-section form {
    display: flex;
    gap: 1rem;
    align-items: end;
    margin-bottom: 1rem;
}

.container form.create-update {
    display: grid;
    gap: 1rem;
}

/*  */

/* halaman dashboard */
.container#dashboard .stats-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.container#dashboard .stat {
    display: grid;
    gap: 2rem;
    height: fit-content;
    border: 1px solid var(--color-accent-text);
    border-radius: 10px;
    background: var(--color-accent);
    padding: 1.5rem;
}

.container#dashboard .stat hr.divider {
    margin: 0;
}

.container#dashboard .stat p {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

/*  */

/* akun */
.container#daftar-akun form.filter {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: end;
    width: fit-content;
    gap: 0.5rem;
    justify-self: right;
    margin-bottom: 1rem;
}

/*  */

/* sunting akun */
.container#sunting-akun form.user-account-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.container#sunting-akun form.user-account-form button {
    grid-column: 1 / -1;
}

/*  */

/* tambah jurusan */
.container#tambah-jurusan form,
.container#sunting-jurusan form {
    display: grid;
    gap: 1rem;
}

/*  */

/* daftar form pendaftaran */
.container#admin-daftar-form-pendaftaran .daftar-form-pendaftaran-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.container#admin-daftar-form-pendaftaran table {
    border: 2px solid var(--color-neutral);
    border-radius: 10px;
    padding: 1rem;
}

.container#admin-daftar-form-pendaftaran th,
.container#admin-daftar-form-pendaftaran td {
    text-align: left;
    padding: 0.5rem;
}

.container#admin-daftar-form-pendaftaran table hr.divider {
    margin: 0;
}

.container#admin-daftar-form-pendaftaran table .btn-column {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.container#admin-daftar-form-pendaftaran table .tertunda {
    background: var(--color-warning);
    color: var(--color-warning-text);
    border: 1px solid var(--color-warning-text);
    border-radius: 5px;
    padding: 0.5rem;
}

.container#admin-daftar-form-pendaftaran table .diterima {
    background: var(--color-success);
    color: var(--color-success-text);
    border: 1px solid var(--color-success-text);
    border-radius: 5px;
    padding: 0.5rem;
}

.container#admin-daftar-form-pendaftaran table .ditolak {
    background: var(--color-error);
    border: 1px solid var(--color-error-text);
    border-radius: 5px;
    padding: 0.5rem;
}

/*  */

/* verifikasi form pendaftaran */
.container#admin-verifikasi-form-pendaftaran table {
    border: 1px solid var(--color-neutral);
    width: 100%;
    border-spacing: 0;
}

.container#admin-verifikasi-form-pendaftaran th,
.container#admin-verifikasi-form-pendaftaran td {
    border: 1px solid var(--color-neutral);
    padding: 1rem 0.5rem;
    text-align: left;
}

.container#admin-verifikasi-form-pendaftaran th.judul-tabel {
    text-align: center;
}

.container#admin-verifikasi-form-pendaftaran td a {
    color: var(--color-info-hover);
}

.container#admin-verifikasi-form-pendaftaran td .button-container {
    display: flex;
    justify-self: center;
    gap: 1rem;
}

/*  */